h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 20px;
	text-align: center;
}

.gwt-Label {
	margin: 5px;
	text-align: left;
	font-family: verdana, sans-serif;
}

.txt-3digit {
	width: 36px;
}

.txt-5digit {
	width: 45px;
}

.blending-summary-hint {
	font-size: 1.2em;
	color: #000000;
	padding: 5px;
}

.blending-summary-hint-dialog {
	padding: 50px;
}

.security-hint {
	border: 2px;
	border-color: #AA0000;
	border-style: solid;
	font-size: 1.1em;
	color: #000000;
	padding: 5px;
}

.txbUserData {
	width: 130px;
}

.blending-hint {
	border: 2px;
	border-color: #0000bf;
	border-style: solid;
	font-size: 1.2em;
	color: #110000;
	padding: 5px;
}

.button-book-filling {
	background-color: orange;
	font-weight: bold;
}

.label-warning {
	font-weight: bold;
	color: #FF2222;
}

.label-ok {
	font-weight: bold;
	color: #22FF22;
}

.gwt-login-label {
	font-size: 1.2em;
	font-weight: bold;
	color: #0080ff;
	margin: 5px;
	text-align: left;
	font-family: verdana, sans-serif;
}

.gwt-welcome-label {
	font-size: 2em;
	font-weight: bold;
	color: #0000ff;
	margin: 5px;
	text-align: left;
	font-family: verdana, sans-serif;
}

.gwt-Label-Login {
	font-size: 1em;
	font-weight: bold;
	color: #222299;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* Text Box */
.gwt-TextBox {
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: small;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-TextBox-readonly {
	color: #888;
}

.gwt-PasswordTextBox {
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 100%;
}

.gwt-PasswordTextBox-readonly {
	color: #888;
}

.gwt-TextArea {
	padding: 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #666;
	font-size: 100%;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-TextArea-readonly {
	color: #888;
}
/* Button  */
.gwt-Button {
	margin: 3px;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: small;
	background: url("images/hborder.png") repeat-x 0px -2077px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.gwt-Button:active {
	border: 1px inset #ccc;
}

.gwt-Button:hover {
	border-color: #939393;
}

.gwt-Button[disabled] {
	cursor: default;
	color: #888;
}

.gwt-Button[disabled]:hover {
	border: 1px outset #ccc;
}